@using System.Security.Claims
@model IEnumerable<SistemaRedeWork.Models.EmpresaEstudanteViewModel>

@{
    ViewData["HideFooter"] = true;
    ViewData["HideNavBar"] = true;

}

<style>
    .offcanvas-header {
        background: linear-gradient(135deg, #6a0dad, #b03f7f); /* Cor do fundo do cabeçalho do menu lateral */
        color: white; /* Cor do texto do cabeçalho */
        padding: 15px; /* Adiciona espaçamento interno */
    }

    .offcanvas-body {
        background-color: #f8f9fa; /* Fundo claro para a área do menu */
        padding: 20px; /* Adiciona mais espaçamento interno */
        border-right: 2px solid #343a40; /* Adiciona uma borda ao lado direito do menu */
    }

    .nav-item a {
        display: block; /* Garante que os links ocupem toda a largura do container */
        padding: 10px 15px; /* Adiciona espaçamento interno aos links */
        margin-bottom: 10px; /* Espaço entre os links */
        background: linear-gradient(135deg, #6a0dad, #b03f7f); /* Cor de fundo do link */
        color: white; /* Cor do texto dos links */
        border-radius: 5px; /* Bordas arredondadas */
        text-align: center; /* Centraliza o texto dos links */
        text-decoration: none; /* Remove sublinhado */
        transition: background-color 0.3s ease; /* Animação suave no hover */
    }

    img.logo {
        height: 40px;
        max-width: 100%;
    }



    .navbar {
        margin-bottom: 50px;
    }

    .row {
        margin-bottom: 20px; /* Adiciona espaço entre as fileiras de cards */
    }

    .card {
        transition: transform 0.3s;
        margin-bottom: 20px; /* Opcional, caso você queira mais espaço entre os próprios cards */
    }

    .modal-body {
        padding: 20px;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

    .container {
        margin-top: 60px;
    }

    .welcome-message {
        font-size: 2em;
        color: black;
        background: linear-gradient(135deg, #6a0dad, #b03f7f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 20px;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 20px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

        .welcome-message h2 {
            display: block; /* Garantir que h2 esteja em um bloco */
            margin-bottom: 10px; /* Ajuste o espaço entre o h2 e o p */
        }

        .welcome-message p {
            font-size: 1.5em; /* Pode reduzir um pouco o tamanho para melhor proporção */
            color: black;
            background: linear-gradient(135deg, #6a0dad, #b03f7f);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
            display: block; /* Garantir que o parágrafo esteja em um bloco */
        }
</style>



@if (ViewData["NavBarLogado"] == null || !(ViewData["NavBarLogado"] is bool isLogged && isLogged)) {
    <nav class="navbar navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Cadastro" asp-action="EmpresaLogado">
                <img src="/content/img/LogoRedeWork2.png" alt="RedeWork" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                       @*  @if (Model != null && !string.IsNullOrEmpty(Model.FirstOrDefault().Empresa.Usuario)) {
                    @($"Olá, {Model.FirstOrDefault().Empresa.Usuario}")
                    } else {
                    @("Olá")
                    } *@
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color:black"
                               asp-controller="Perfil" asp-action="PerfilEmpresa"
                               asp-route-id="@User.FindFirstValue("EmpresaId")">Perfil</a>
                        </li>

                        
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color:black"
                               asp-controller="Cadastro" asp-action="EmpresaLogado">Estudantes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color:black"
                               asp-controller="Cadastro" asp-action="CadastrarVagas" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Cadastrar Vagas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color:black" asp-controller="Cadastro" asp-action="MinhasVagasView">Minhas Vagas</a>
                        </li>

                        <li class="nav-item">
                            <form asp-controller="Cadastro" asp-action="Logout" method="post" style="display:inline;">
                                @Html.AntiForgeryToken() <!-- Adiciona token CSRF -->
                                <button type="submit" class="nav-link" style="border:none; background:none; color:black; cursor:pointer;">
                                    Sair
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
}

<div class="container">
    @if (!string.IsNullOrEmpty("")) {
        <div class="welcome-message text-center">
            <h2>Olá!</h2>
            <br />
            <p>Estamos aqui para ajudar você a encontrar a vaga perfeita. Explore as opções e dê o próximo passo na sua carreira!</p>
        </div>
    } else {
        <h2 class="welcome-message text-center">Bem-Vindo(a)!</h2>
    }

    @if (Model != null && Model.Any()) {
        @for (int i = 0; i < (Model.Count() + 2) / 3; i++) {
            <div class="row mb-3">
                @for (int j = 0; j < 3; j++) {
                    var index = i * 3 + j;
                    if (index < Model.Count()) {
                        var empresaEstudanteViewModel = Model.ElementAt(index);
                        <div class="col-sm">
                            <div class="card text-center mb-4 shadow-sm">
                                <div class="card-header bg-primary text-white">
                                    @empresaEstudanteViewModel.Estudante.Nome @empresaEstudanteViewModel.Estudante.Sobrenome
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Curso:</strong> @empresaEstudanteViewModel.Estudante.Curso</h5>
                                    <p class="card-text">
                                        <strong>Instituição:</strong> @empresaEstudanteViewModel.Estudante.Instituicao <br />
                                        <strong>Período:</strong> @empresaEstudanteViewModel.Estudante.Periodo <br />
                                        <strong>Semestre:</strong> @empresaEstudanteViewModel.Estudante.Semestre <br />
                                        <strong>Data de Nascimento:</strong> @(empresaEstudanteViewModel.Estudante.DataNascimento.HasValue ? empresaEstudanteViewModel.Estudante.DataNascimento.Value.ToString("dd/MM/yyyy") : "Data não informada")<br />
                                        <strong>Email:</strong> @empresaEstudanteViewModel.Estudante.Email <br />
                                        <strong>Telefone:</strong> @empresaEstudanteViewModel.Estudante.Telefone <br />
                                        <strong>Sexo:</strong> @empresaEstudanteViewModel.Estudante.Sexo <br />
                                        <strong>Estado:</strong> @empresaEstudanteViewModel.Estudante.Estado
                                    </p>
                                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vagaModal"
                                       onclick="openModal(
                                       '@empresaEstudanteViewModel.Estudante.Nome',
                                       '@empresaEstudanteViewModel.Estudante.Sobrenome',
                                       '@empresaEstudanteViewModel.Estudante.Curso',
                                       '@empresaEstudanteViewModel.Estudante.Instituicao',
                                       '@empresaEstudanteViewModel.Estudante.Periodo',
                                       '@empresaEstudanteViewModel.Estudante.Semestre',
                                       '@(empresaEstudanteViewModel.Estudante.DataNascimento.HasValue ? empresaEstudanteViewModel.Estudante.DataNascimento.Value.ToString("dd/MM/yyyy") : "Data não informada")',
                                       '@empresaEstudanteViewModel.Estudante.Email',
                                       '@empresaEstudanteViewModel.Estudante.Telefone',
                                       '@empresaEstudanteViewModel.Estudante.Sexo',
                                       '@empresaEstudanteViewModel.Estudante.Estado',
                                       '@(empresaEstudanteViewModel.Curriculo != null ? empresaEstudanteViewModel.Curriculo.Objetivo : "Objetivo não informado")',
                                       '@(empresaEstudanteViewModel.Curriculo != null ? empresaEstudanteViewModel.Curriculo.Educacao : "Educação não informada")',
                                       '@(empresaEstudanteViewModel.Curriculo != null ? empresaEstudanteViewModel.Curriculo.Certificado : "Certificado não informado")',
                                       '@(empresaEstudanteViewModel.Curriculo != null ? empresaEstudanteViewModel.Curriculo.Experiencia : "Experiência não informada")',
                                       '@(empresaEstudanteViewModel.Curriculo != null ? empresaEstudanteViewModel.Curriculo.Habilidade : "Habilidade não informada")',
                                       '@(empresaEstudanteViewModel.Curriculo != null ? empresaEstudanteViewModel.Curriculo.Idioma : "Idioma não informado")')">
                                        Ver mais
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    } else {
        <p class="alert alert-warning text-center">Nenhum estudante encontrado.</p>
    }


    <!-- Modal -->
    <div class="modal fade" id="vagaModal" tabindex="-1" aria-labelledby="vagaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="vagaModalLabel">Nome do Estudante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 id="vagaTitulo" class="text-primary"></h5>
                    <p id="vagaDescricao"></p>
                    <a href="#" class="btn btn-success">Baixar Currículo</a>
                </div>
            </div>
        </div>
    </div>


</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Quando o botão com a classe 'close-alert' for clicado
            $('.close-alert').click(function () {
                // Esconde o elemento pai (a div com a mensagem)
                $(this).closest('.alert').fadeOut();
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            const welcomeMessage = document.querySelector('.welcome-message');
            const text = welcomeMessage.textContent;
            welcomeMessage.textContent = '';

            let index = 0;

            function type() {
                if (index < text.length) {
                    welcomeMessage.textContent += text.charAt(index);
                    index++;
                    setTimeout(type, 3);
                } else {
                    welcomeMessage.style.opacity = 1;
                }
            }

            type();
        });


        function openModal(nome, sobrenome, curso, instituicao, periodo, semestre, dataNascimento, email, telefone, sexo, estado, objetivo, educacao, certificado, experiencia, habilidade, idioma) {
            // Definindo o nome do estudante no título do modal
            document.getElementById('vagaModalLabel').textContent = nome + ' ' + sobrenome;

            // Exibindo as informações no modal com separação por categorias
            document.getElementById('vagaDescricao').innerHTML = `
                                                <strong>Dados Pessoais:</strong><br>
                                                Nome Completo: ${nome} ${sobrenome}<br>
                                                Data de Nascimento: ${dataNascimento}<br>
                                                Email: ${email}<br>
                                                Telefone: ${telefone}<br>
                                                Sexo: ${sexo}<br>
                                                Estado: ${estado}<br><br>

                                                <strong>Informações Acadêmicas:</strong><br>
                                                Curso: ${curso}<br>
                                                Instituição: ${instituicao}<br>
                                                Período: ${periodo}<br>
                                                Semestre: ${semestre}<br><br>

                                                <strong>Informações Profissionais:</strong><br>
                                                Objetivo: ${objetivo}<br>
                                                Educação: ${educacao}<br>
                                                Certificados: ${certificado}<br>
                                                Experiência: ${experiencia}<br>
                                                Habilidades: ${habilidade}<br>
                                                Idiomas: ${idioma}
                                            `;
        }



    </script>
}
